*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:fantasy;
}
/*container*/
.container{
    width:100%;
    height:1000px;
    background-color:#2a2929;
}
/*reponsive*/
@media screen and (max-width:1000px){
    .search_and_link{
        opacity:0;
        visibility: hidden;
    }
   .header .nav_mobile{
        opacity:1;
            visibility:visible;
    }
    .container .slider{
        height: 400px;
    }
    .popular_film .card_film{
        height: 300px;
    }
   .container .new_film{
        height: 400px;
    }
    .free_film .card_free_film {
        height: 300px;
    }
    .list_film .list_item {
        height: 300px;
    }
    .container .infor_team{
        height: 300px;
    }
    .footer .footer_item{
        height: 300px;
    }
}
@media screen and (max-width:900px){
    .container .slider{
        height: 350px;
    }
    .popular_film .card_film{
        width: 45%;
        height: 350px;
    }
   .new_film .new_film_content{
        height: 70%;
    }
   .container .new_film{
        height: 300px;
    }
    .free_film .card_free_film {
        width: 45%;
        height: 300px;
    }
    .list_film .list_item {
        height: 300px;
        width: 20%;
    }
    .container .infor_team{
        height: 300px;
    }
    .footer .footer_item{
        height: 300px;
    }
}
@media screen and (max-width:768px){
 
  .menu{
      opacity: 0;
      visibility: hidden;
  }
  .container .slider{
    height: 300px;
}
.popular_film .card_film{
    width: 70%;
    height: 500px;
}

.new_film .new_film_content{
    height: 85%;
    width: 100;
    left: 50%;
    top: 50%;
    right: unset;
    transform: translate(-50%,-50%);
}
.container .new_film{
    background-image: unset;
    height: 350px;
}
.free_film .card_free_film {
    width: 70%;
    height: 500px;
}
.list_film .list_item {
    height: 300px;
    width: 25%;
}
.container .infor_team{
    height: auto;
}
.footer .footer_item{
    height: 300px;
}
}

@media screen and (max-width:600px){
    .list_film .list_item{
        height: 300px;
    width: 30%;
    }
   .infor_team .card_infor{
        width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    }
}
@media screen and (max-width:480px){
    .container .slider{
        height: 200px;
    }
    .container .header{
         height: 6%;
    }
   .container .header .nav_mobile{
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: solid 2px red;
        border-radius: 5px 5px;
    }
  .popular_film .card_film{
      width: 70%;
      height: 400px;
  }
  
  .new_film .new_film_content{
      height: 85%;
      width: 100;
      left: 50%;
      top: 50%;
      right: unset;
      transform: translate(-50%,-50%);
  }
  .container .new_film{
      background-image: unset;
      height: 350px;
  }
  .free_film .card_free_film {
      width: 70%;
      height: 400px;
  }
  .list_film .list_item {
      height: 300px;
      width: 40%;
  }
  .container .infor_team{
      height: auto;
  }
  .footer .footer_item{
      height: 300px;
  }
  }
  @media screen and (max-width:360px){
    .container .slider{
        height: 150px;
    }
    .container .header{
         height: 6%;
    }
   .container .header .nav_mobile{
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: solid 2px red;
        border-radius: 5px 5px;
    }
  .popular_film .card_film{
      width: 70%;
      height: 300px;
  }
  
  .new_film .new_film_content{
      height: 80%;
      width: 100;
      left: 50%;
      top: 50%;
      right: unset;
      transform: translate(-50%,-50%);
  }
  .container .new_film{
      background-image: unset;
      height: 350px;
  }
  .free_film .card_free_film {
      width: 70%;
      height: 300px;
  }
  .list_film .list_item {
      height: 250px;
      width: 40%;
  }
  .list_item .picture
  {
      height: 70%;
  }
  .container .infor_team{
      height: auto;
  }
  .footer .footer_item{
    width: 100%;
    height: 200px;
  }
  }
/*header*/
.container .header{
width: 100%;
height:8%;
/* background-color: aqua; */
position: relative;
border-bottom: solid 1px gray;
transition: all 0.5s;
z-index: 2;
}
/*LOGO*/
.nav_mobile{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: red;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_mobile i{
    font-size: 25px;
    color: white;
}
.logo{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
/*MENU*/
.menu{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width:auto;
    height:auto;
    /* background-color: aquamarine; */
    font-size: 17px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    transition: all 0.5s;
}
.menucontent{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuitem{
    padding:10px;
    padding-right: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}
.menuitem:first-child:after
{
    content:"";
    position:absolute;
    bottom: 0;
    width:70%;
    height:1px;
    background-color: red;
}
.menuitem::after{
    content:"";
    position:absolute;
    bottom: 0;
    left: 0;
    width:0%;
    height:0px;
    background-color: red;
    transition: all 0.5s;
}
.menuitem:hover::after{
    width:80%;
    height: 1px;
}
.feat:hover .menuitem:first-child{
color: red;
}

.menucontent .menuitem:not(:nth-child(5))::before
{
    /* content:"/";
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 15px;
    color: rgb(204, 201, 201); */
    /* vertical-align: middle; */
}

.menu_child{
    position: absolute;
    background-color: white;
    top:110%;
    list-style-type: none;
    width: 200px;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.menuchild_item{
    width: 100%;
    padding:10px 10px;
    font-size: 15px;
    color: gray;
}
.menuchild_item:hover{
    background-color: rgb(226, 226, 235);
}
.menuitem:hover .menu_child{
    opacity: 1;
    visibility: visible;
}
/* .menuitem:hover{
   background-color: blue;
} */

/*search_and_link*/
.search_and_link{
    position: absolute;
    top: 50%;
    right:5%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    /* background-color: red; */
    color: white;
}
.menulink{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menulinkitem{
    /* padding:10px; */
    padding-left: 20px;
    padding-right:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menulinkitem:first-child::after
{
    content: "";
    height: 100%;
    position: absolute;
    right:0;
    border-right:solid 1px white;
}

.icon1:hover{
    transition: all 0.5s;
color: rgb(114, 145, 236);
}
.icon2:hover{
    transition: all 0.5s;
color: royalblue;
}
.icon3:hover{
    transition: all 0.5s;
color: rgb(246, 165, 179);
}
.icon4:hover{
    transition: all 0.5s;
color: rgb(224, 13, 13);
}

/*slider*/
.slider {
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
    margin: auto;
    position: relative;
    z-index: 1;
}

.item:not(.first-child) {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s;
    opacity: 0;
}

.item1 {
    background-color: red;
}

.item2 {
    background-color: yellow;
}

.item3 {
    background-color: green;
}
.item4 {
    background-color: darkcyan;
}


.btn_radio {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: transparent;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.btn-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.btnitem {
    margin: 0 10px;
    border: solid 1px gray;
    padding: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
    color:white;
}

.active {
    background-color:white;
}

.item img{
    width: 100%;
    height: 100%;
}

/*popular_film*/
.popular_film{
    width:100%;
    height: auto;
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card_film{
    width: 23%;
    height:400px;
    /* background-color: red; */
    margin:5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    font-family: monospace;
    cursor: pointer;
    border-radius: 4px 4px;
}

.card_film .btnPlay{
    position: absolute;
    bottom:-100%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:transparent;
    border:solid 1px white;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.card_film:hover .btnPlay{
opacity: 1;
visibility: visible;
bottom:50%;
/* transform: translate(-50%); */
}

.btnPlay:hover{
    cursor: pointer;
    background-color: rgb(214, 218, 218);
}


.card_film h3,h4{
    color: white;
    background-color: transparent;
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translateX(-50%);
}

 h3{
    /* display: block; */
    width: 100%;
   padding: 10px;
    text-align: center;
    color: black;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 50;
    word-spacing: 5PX;
    background-color:#f2f2f2;
}

/*New film*/
.new_film{
    width: 100%;
    height:500px;
    background-image: url('http://filmax.themerex.net/wp-content/uploads/2018/01/bg_samurai.jpg?id=458');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.new_film_content{
    position: absolute;
    width: 50%;
    height: 60%;
    /* background-color: red; */
    top: 50%;
    right: 0;
    justify-content:center;
    /* text-align: start; */
    flex-direction: column;
    display: flex;
    transform: translateY(-50%);
}
.new_film_content::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20%;
    height: 2px;
    background-color: red;
}
.new_film_content h1,h5,p,a{
    font-family: "Roboto Condensed",sans-serif;
}
.btn_more{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn_more a{
    margin: 0 15px;
    font-weight: bold;
    transition: all 0.5s;
    font-size: 13px;
}

.btn_more a:hover{
    cursor:pointer;
    color: aquamarine;
}

.btn_more a:first-child
{
    color: red;
}

/*free_film*/
.free_film{
width:100%;
height:auto;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.card_free_film{
width:25%;
height: 400px;
/* background-color: aliceblue; */
background-repeat: no-repeat;
background-size: 100% 100%;
position: relative;
overflow: hidden;
}

.card_free_film::after{
content: "";
position: absolute;
width: 100%;
height: 100%;
opacity:0.2;
z-index:2;
}

.title_film_free{
position: absolute;
width: 100%;
height:50%;
background-color:transparent;
/* border: solid 2px gray; */
bottom: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
z-index: 3;
transform: translateY(100px);
transition: all 0.5s;
}
.title_film_free h2{
    font-family: monospace;
}
.title_film_free button
{
    display: flex;
    justify-content: center;
    align-items: center;
width:200px;
margin-bottom: 5px;
margin-top: 5px;
height:30px;
background-color: transparent;
border: none;
color:white;
font-size: 13px;
font-family:monospace;
font-weight: bold;
opacity: 0;
visibility: hidden;
transform: translateY(100px);
transition: all 0.5s;
cursor: pointer;
}
.card_free_film:hover .title_film_free button{
opacity: 1;
visibility: visible;
transform: translateY(0);
}
.card_free_film:hover .title_film_free
{
    transform: translate(0);
}
.title_film_free button i {
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.title_film_free::after
{
    content: "";
    position: absolute;
    top:10px;
    left:25%;
    width:20%;
    height: 2px;
    background-color: rgb(255, 230, 7);
}

/*infor_man*/
.infor_team{
    width: 100%;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card_infor{
    width: 33.33%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card_infor img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/*footer*/
.footer{
    width: 100%;
    height:auto;
    background-color: #2a2929;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer_item{
width: 25%;
height: 400px;
background-color: #2a2929;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: WHITE;
}

.footer_item img{
padding-bottom: 10px;
}

/*list_film*/
.list_film{
    width: 100%;
    height: auto;
    background-color: BLACK;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list_item{
    width:18%;
    height:350px;
    background-color: black;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.picture{
    width: 100%;
    height: 80%;
}

.title_film{
    background-color:black;color: #ffbb00;font-family:monospace;
    display: inline-block;
    position: relative;
}

.title_film::after{
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
content: "";
width: 10%;
height: 2px;
background-color: #ffbb00;
}

.list_item .picture img{
    width:100%;
    height:100%;
    border-radius: 5PX 5PX;
} 

.list_item h3{
    background-color: transparent;
    font-size:13px;
    color: white;
}

.comment{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment i {
    color:coral;
}